<section class="my-3">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-10">
                <owl-carousel-o [options]="customOptionsSlider">
                    <ng-template carouselSlide>
                        <img src="./assets/images/slider-image-1.jpeg" class="w-100 slider-big-img" alt="slider">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/slider-image-2.jpeg" class="w-100 slider-big-img" alt="slider">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/slider-image-3.jpeg" class="w-100 slider-big-img" alt="slider">
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-md-2">
                <div>
                    <img src="./assets/images/slider-image-2.jpeg" class="w-100 slider-small-img" alt="slider">
                    <img src="./assets/images/slider-image-3.jpeg" class="w-100 slider-small-img" alt="slider">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="my-2">
    <div class="container">
        <h2 class="text-main mb-2">Popular Categories</h2>
        <owl-carousel-o [options]="customOptionsCategories">

            @for (category of categoriesList; track category._id) {
            <ng-template carouselSlide>
                <div class="p-2 shadow">
                    <img [src]="category.image" [alt]="category.name" class="w-100 category-img">
                    <h3 class="h6 text-main mt-2">{{category.name}}</h3>
                </div>
            </ng-template>
            }

        </owl-carousel-o>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="text-main mb-2">Popular Products:</h2>
        <div class="row g-3">
            @for (product of productsList.slice(0, 8); track product.id) {
            <div class="col-md-3">
                <div class="product p-2 shadow cr" [routerLink]="['/details', product._id]">
                    <img [src]="product.imageCover" [alt]="product.title" class="w-100">
                    <div class="p-2">
                        <h3 class="small text-main">{{product.category.name}}</h3>
                        <h4 class="h6">{{product.title.split(' ', 2).join(" ")}}</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <span>{{product.price}} TL</span>
                        <div>
                            @for (star of [1, 2, 3, 4, 5].slice(0, product.ratingsAverage); track $index) {
                            <span><i class="fa-solid fa-star rating-color"></i></span>
                            }
                            @if (product.ratingsAverage % 1 !== 0) {
                            <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            }
                            <span class="text-muted">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                    <button class="btn-main w-100 my-2">Add To Cart</button>
                </div>
            </div>
            }
        </div>
    </div>
</section>