<section>
    <div class="container">
        <h2>Popular Products:</h2>
        <div class="row g-3">
            @for (product of productsList.slice(0, 12); track product.id) {
                <div class="col-md-2">
                    <div class="product p-2">
                        <img [src]="product.imageCover" [alt]="product.title" class="w-100">
                        <h3 class="small text-main">{{product.category.name}}</h3>
                        <h4 class="h6">{{product.title.split(' ', 2).join(" ")}}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{product.price}} TL</span>
                            <div>
                                <span><i class="fas fa-star rating-color"></i></span>
                                <span class="text-muted">{{product.ratingsAverage}}</span>
                            </div>
                        </div>
                        <button class="btn-main w-100 my-2">Add To Cart</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>