<section>
    <div class="container bg-main-light shadow p-4 my-3 rounded-4">
        <h1 class="h2 text-main">Login Now</h1>

        @if(msgSuccess) {
        <p class="text-white h3 bg-main w-25 text-center p-2 rounded-2 mx-auto">Login Successfully </p>
        }
        @else if (msgError) {
        <p class="alert h3 w-25 text-center p-2 mx-auto">{{msgError}}</p>
        }

        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" formControlName="email" placeholder="Your Email"
                    [ngClass]="{
                    'is-valid': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                    'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
                }">
                @if (loginForm.get('email')?.errors && (loginForm.get('email')?.touched ||
                loginForm.get('email')?.dirty)) {
                <div class="alert alert-danger w-50">
                    @if(loginForm.get('email')?.getError('required')) {
                    <p class="m-0">Email Is Required</p>
                    }
                    @else if (loginForm.get('email')?.getError('email')) {
                    <p class="m-0">Enter A Valid Email</p>
                    }
                    @else {
                    <p class="m-0">Uknown error</p>
                    }
                </div>
                }
            </div>

            <div class="my-2">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" formControlName="password"
                    placeholder="Your Password" [ngClass]="{
                    'is-valid': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                    'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
                }">
                @if (loginForm.get('password')?.errors && (loginForm.get('password')?.touched ||
                loginForm.get('password')?.dirty)) {
                <div class="alert alert-danger w-50">
                    @if(loginForm.get('password')?.getError('required')) {
                    <p class="m-0">Password Is Required</p>
                    }
                    @else if (loginForm.get('password')?.getError('pattern')) {
                    <p class="m-0">Enter A Valid Password</p>
                    }
                    @else {
                    <p class="m-0">Uknown error</p>
                    }
                </div>
                }
            </div>

            <button [disabled]="loginForm.invalid || isLoading" class="btn-main ms-auto d-block"> Login
                @if(isLoading) {
                <span>
                    <i class="fas fa-spin fa-spinner"></i>
                </span>
                }
            </button>

        </form>
    </div>
</section>