<section class="bg-main-light rounded-4 shadow p-4 my-2 container">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="h2 text-center">Shop Cart</h1>
        <button class="btn btn-outline-danger" (click)="clearCartItems()">CLear Cart</button>
    </div>

    <p class="">Total Cart Price <span class="text-main">{{cartDetails.totalCartPrice | currency : 'GBP'}}</span></p>

    @for (item of cartDetails.products; track item.product._id) {
        <div class="row m-3 p-2 border-bottom">
            <div class="col-md-1">
                <img [src]="item.product.imageCover" [alt]="item.product.title" class="w-100">
            </div>
            <div class="col-md-11 d-flex align-items-center justify-content-between">
                <div>
                    <h3 class="h5">{{item.product.title}}</h3>
                    <p>Price <span class="text-main">{{item.price}}</span></p>
                    <span class="text-danger cr" (click)="removeItem(item.product._id)"><i
                            class="fa-solid fa-trash"></i>Remove</span>
                </div>
                <div class="text-main d-flex align-items-center gap-2">
                    <span (click)="updateCount(item.product._id, item.count + 1)"><i
                            class="fa-solid fa-circle-plus cr fa-2xl"></i></span>
                    <span class="h4 m-0">{{item.count}}</span>
                    <span (click)="updateCount(item.product._id, item.count - 1)"><i
                            class="fa-solid fa-circle-minus cr fa-2xl"></i></span>
                </div>
            </div>
        </div>
    }

    <button class="btn-main mt-2" [routerLink]="['/orders', cartDetails._id]">Take A Order</button>
</section>